@font-face {
    font-family: "NunitoSans";
    src: url("../../assets/font/alternativeFiles/NunitoSans-Regular.woff2") format("woff2"), url("../../assets/font/NunitoSans-Regular.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "NunitoSans";
    src: url("../../assets/font/alternativeFiles/NunitoSans-Medium.woff2") format("woff"), url("../../assets/font/NunitoSans-Medium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "NunitoSans";
    src: url("../../assets/font/alternativeFiles/NunitoSans-Bold.woff2") format("woff2"), url("../../assets/font/NunitoSans-Bold.woff") format("woff");
    font-weight: 700;
}